#root {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  width: 100%;
  margin: 0 auto;
}

#root,
#root:before,
#root:after {
  box-sizing: inherit;
}
.parentDiv {
  position: relative;
  height: 100%;

  top: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dedcdc;
  position: sticky;
  top: 0;
  height: 70px;
}

.logo {
  margin: 1.4rem 0;
  width: 102px;
  padding: 0 5rem;
  /* height: 32px; */
}

.menu {
  margin: 1.4rem 0;
  padding: 0 5rem;
}

/* HERO SECTION */

.expHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-weight: 700;
  margin: 2.5rem 0;
}

.arrows {
  width: 5rem;
}

.expMainDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 5rem;
}

.expBody {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
}

.experience {
  border-radius: 15px;
}

/* LINKS SECTION */
.linkList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 95%;
}

.leftLinks,
.rightLinks {
  display: flex;
  column-gap: 0.75rem;
  list-style-type: none;
}

.leftLinks {
  border-right: 1px solid #dedcdc;
  padding: 0 40px 0 5rem;
}

.rightLinks {
  overflow: hidden;
}

.oneArrow {
  width: 2.5rem;
  /* box-shadow: 15px 15px 35px 0px rgb(255, 255, 255, 0.75); */
}

.leftButtons,
.rightButtons {
  text-align: center;
  padding: 0.6rem 1rem;
  border-radius: 25px;
  white-space: nowrap;
  overflow: hidden;
}

.leftButtons {
  border: 1px solid #dddddd;
  background-color: white;
}

.rightButtons {
  background-color: #f2f2f2;
  border: none;
}
span {
  cursor: pointer;
  font-weight: 200;
  font-size: 14px;
  line-height: 18px;
  color: #494949;
}

/* CARDS */
.card {
  padding: 0 5rem;
}

.cardTitle {
  font-size: 1.3rem;
  font-weight: 500;
}

.cardImage {
  border-radius: 15px;
  width: 220px;
  margin-bottom: 0.5rem;
}
/* 
.cardStats {
  padding-bottom: 1rem;
} */

.cardStar {
  width: 12px;
  margin-right: 0.4rem;
}

.cardRating {
  font-weight: 400;
  margin-right: 0.2rem;
}

.cardSubTitle {
  width: 220px;
  font-size: 1rem;
  font-weight: 300;
  word-wrap: break-word;
  margin: 0.5rem 0;
}

.cardPrice {
  font-weight: 500;
}
